name: Build and test
on:
  push:
  pull_request:
jobs:
  linux-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_linux_env
      - run: cargo build --locked
      - run: cargo test
